<form *ngIf="user">
  <h2>{{ user.firstName }} {{ user.lastName }}</h2>

  <form [formGroup]="form" class="form-container">
    <section>
      <mat-form-field class="form-field" appearance="outline" >
        <mat-label>მომხმარებლის ნომერი</mat-label>
        <input matInput formControlName="nId" placeholder="მომხმარებლის ნომერი" readonly/>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>სახელი</mat-label>
        <input matInput formControlName="firstName" placeholder="სახელი" [readonly]="!isEditable"/>
        <mat-error *ngIf="form.get('firstName')?.invalid">{{getFirstNameErrorMessage()}}</mat-error> 
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>გვარი</mat-label>
        <input matInput formControlName="lastName" placeholder="გვარი"  [readonly]="!isEditable"/>
        <mat-error *ngIf="form.get('lastName')?.invalid">{{getLastNameLErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline" class="readonly-wrapper">
        <mat-label>სქესი</mat-label>
        <mat-select formControlName="gender">
            <mat-option value="male">კაცი</mat-option>
            <mat-option value="female">ქალი</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>პირადი ნომერი</mat-label>
        <input matInput placeholder="პირადი ნომერი" formControlName="privateNumber" [readonly]="!isEditable"/>
        <mat-error *ngIf="form.get('privateNumber')?.invalid">{{getPrivateNumberErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>მობილურის ნომერი</mat-label>

        <input matInput placeholder="მობილურის ნომერი" formControlName="mobileNumber" [readonly]="!isEditable"/>
        <mat-error *ngIf="form.get('privateNumber')?.invalid">{{getPhoneNumberErrorMessage()}}</mat-error>
    </mat-form-field>
</section>
<section class="addresses">
    <section class="legal">
      <h3>იურიდიული მისამართი</h3>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>ქვეყანა</mat-label>
        <input matInput formControlName="countryLegal" placeholder="ქვეყანა"  [readonly]="!isEditable"/>
        <mat-error *ngIf="form.get('countryLegal')?.hasError('required')">ქვეყანა აუცილებელია</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>ქალაქი</mat-label>

        <input matInput formControlName="cityLegal" placeholder="ქალაქი" [readonly]="!isEditable" />
        <mat-error *ngIf="form.get('cityLegal')?.hasError('required')">ქალაქი აუცილებელია</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>მისამართი</mat-label>

        <input matInput formControlName="addressLegal" placeholder="მისამართი" [readonly]="!isEditable" />
        <mat-error *ngIf="form.get('addressLegal')?.hasError('required')">მისამართი აუცილებელია</mat-error>
    </mat-form-field>
</section>

    <section class="actual">
      <h3>ფაქტიური მისამართი</h3>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>ქვეყანა</mat-label>

        <input matInput formControlName="countryActual" placeholder="ქვეყანა"  [readonly]="!isEditable"/>
        <mat-error *ngIf="form.get('countryActual')?.hasError('required')">ქვეყანა აუცილებელია</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>ქალაქი</mat-label>

        <input matInput formControlName="cityActual" placeholder="ქალაქი" [readonly]="!isEditable" />
        <mat-error *ngIf="form.get('cityActual')?.hasError('required')">ქალაქი აუცილებელია</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>მისამართი</mat-label>

        <input matInput formControlName="addressActual" placeholder="მისამართი" [readonly]="!isEditable" />
        <mat-error *ngIf="form.get('addressActual')?.hasError('required')">მისამართი აუცილებელია</mat-error>
    </mat-form-field>
</section>
</section>
  

<div class="buttons">
  <button   mat-raised-button color="primary" type="button" (click)="toggleEditMode()" *ngIf="!isEditable">ცვლილება</button>
  <button   mat-raised-button color="primary" *ngIf="isEditable" type="button" (click)="saveChanges()">შენახვა</button>

  <button type="button" (click)="openUserAccountFormDialog()" mat-stroked-button color="primary">ანგარიშის დამატება</button>
</div>
</form>

<app-user-account-form-dialog
  *ngIf="showUserAccountFormDialog"
></app-user-account-form-dialog>