<h2>Form Dialog</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput formControlName="firstName" placeholder="First Name" />
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="lastName" placeholder="Last Name" />
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="email" placeholder="Email" />
    </mat-form-field>

    <div>
        <button mat-raised-button type="submit">Submit</button>
        <button mat-button (click)="closeDialog()">Close</button>
    </div>
</form>