<div class="form-container">
  <h2>მომხმარებლის ანგარიშის დამატება</h2>
  <form [formGroup]="accountForm" class="user-account-form">
    <mat-form-field class="form-field">
      <input matInput placeholder="Account Number" formControlName="accountNumber" />
      <mat-error *ngIf="accountForm.get('accountNumber')?.hasError('pattern')">ანგარიშის ნომერი არასწორია</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput placeholder="Customer Number" formControlName="customerNumber" />
      <mat-error *ngIf="accountForm.get('customerNumber')?.hasError('pattern')">მომხმარებლის ნომერი
        არასწორია</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>ანგარიშის ტიპი</mat-label>
      <mat-select formControlName="accountType">
        <mat-option *ngFor="let type of accountTypes" [value]="type">{{ type }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>ვალუტა</mat-label>
      <mat-select formControlName="currency">
        <mat-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>ანგარიშის სტატუსი</mat-label>
      <mat-select formControlName="accountStatus">
        <mat-option *ngFor="let status of accountStatusOptions" [value]="status">{{ status }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="buttons">
      <button mat-raised-button color="primary" (click)="save()">შენახვა</button>
      <button mat-raised-button (click)="close()">გაუქმება</button>
    </div>
  </form>
</div>