.clickable-header {
  cursor: pointer;
  color: blue; /* Choose your preferred color */
  text-decoration: underline;
}

.navbar-buttons {
  /* Add styles for your navbar buttons */
  display: flex;
  gap: 10px;
}