button {
    background-color: #2196f3;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #1565c0;
  }

  /* main-page.component.scss */

.mat-elevation-z8 {
  margin-top: 20px;
}

mat-form-field {
  margin-bottom: 20px;
  width: 100%;
}

  